*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 1.5em auto 0;
    border-radius: 1.5em;
    padding: 2.5em 2em;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: .8em 1.5em;
    border-radius: 2em;
    font-size: 1.2rem;
}

.btn {
    border: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.card__search-icon {
    width: 16px;
}
.weather {
    display: none;
}
.weather-icon {
    width: 170px;
    margin-top: 2em;
}
.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    margin-top: 3em;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}
.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}
